* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.roundedImage{
    overflow:hidden;
    border-radius:50px;
}
#BoxMain {
    padding: 10px;
    background: linear-gradient(217deg, rgb(204, 35, 160), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgb(8, 176, 16), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,0.8), rgba(0,0,255,0) 70.71%);
    background-size:contain;
    height: 100vh;
}
#BoxMainDuo {
    display:flex;
    flex-direction: column;
//border: 4px solid green;
    height: 2000px;
    padding: 10px;
    justify-content: space-around;
    min-height: 100vh;
}
.RoomUser{
    display:flex;
    flex-direction: row;
    height: 100%;
    padding: 15px;
    justify-content: space-around;
}
#BoxUserMe {
    background: rgba(0,0,0,0.25);
    border-radius: 25px;
    width: 25%;
    height: 98%;
    padding: 10px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}


/* --- BOX USER ME --- */

#BoxOnglet {
    background: transparent;
    border-radius: 25px;
    width: 94%;
    height: 15%;
    padding: 5px;
    margin-left: 2%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
#BoxOngletImg{
    height: 35px;
    width: 35px;
    margin-left: 45%;
}
#BoxChoix{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
    font-size: 17px;
}
#BoxAd {
    background: transparent;
    border-radius: 25px;
    width: 94%;
    height: auto;
    padding: 10px;
    margin-left: 2%;
    overflow-y:scroll;
    scrollbar-width: thin;
    scroll-padding-left: 28px;
}
#BoxOffres{
    color: rgb(8, 176, 16);
    border-radius: 15px;
    height: 100%;
    width: 25%;
}
#BoxBesoins{
    color: rgb(204, 35, 160);
    border-radius: 15px;
    height: 100%;
    width: 25%;
}
#BoxObutton:link, #BoxObutton:visited {
    background-color: rgb(8, 176, 16);
    color: white;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;
    height: 65%;
    width: 35%;
    margin-bottom: 24px;
}
#BoxObuttonFilled {
    background-color: rgba(8, 176, 16, 0.55);
    color: white;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;
    height: 65%;
    width: 35%;
}
#BoxObutton:hover, #BoxObutton:active {
    background-color: rgba(8, 176, 16,0.55);
    color: white;
}
#BoxBbutton:link, #BoxBbutton:visited {
    background-color: rgb(204, 35, 160);
    color: white;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;
    height: 65%;
    width: 35%;
    margin-bottom: 24px;
}
#BoxBbuttonFilled {
    background-color: rgba(204, 35, 160, 0.55);
    color: white;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;
    height: 65%;
    width: 35%;
}
#BoxBbutton:hover, #BoxBbutton:active {
    background-color: rgba(204, 35, 160, 0.55);
    color: white;
}
#BoxTextOnglet{
    margin-top: 5px;
    margin-left: 7px;
}
#BoxAdItemBlack{
    background-color: whitesmoke;
    border-radius: 25px;
    height: auto;
    width: 100%;
    margin-top: 8%;
    display:flex;
    flex-direction:column;
}
.msgLeftCard1{
    width: 30px;
    height: 40px;
    padding-left: 6px;
    padding-right: 6px;
    margin-top: 10px;
}
.msgLeftCard2{
    width: 30px;
    height: 14px;
}
#BoxAdItemYellow{
    border-radius: 25px;
    height: auto;
    width: 100%;
    margin-top: 8%;
    display:flex;
    flex-direction:column;
    background-color:  rgb(225, 236, 91);
}
.msgUseCardLeft{
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}
#ad_img{
    height: 30px;
    width: 30px;
}
#identMsgLeft{
    display: flex;
    flex-direction: column;
}
#ad_user{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 35px;
    margin-left: 10px;
    padding-right: 20px;
}
#ad_text1{
    color:black;
    font-size: 8px;
}
#ad_text2{
    color:black;
    font-size: 12px;
    font-weight: 500;
    width: 100%;
    padding-top: 3px;
}
div#ad_obj div#ad_text2:last-child{
    text-align: right;
    padding-right: 18px;
    padding-bottom: 3px;
}
#ad_prenom {
    font-size: 14px;
    color: rgba(0,0,0,0.7);
    margin-top: 8px;
}
#ad_title_need{
    color: rgb(204, 35, 160);
    font-weight: 700;
    font-size: 14px;
    margin-left: 20px;
    margin-top: 6px;
}
#ad_title_bid{
    color: rgb(8, 176, 16);
    font-weight: 700;
    font-size: 14px;
    margin-left: 20px;
    margin-top: 6px;
}
#ad_obj{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;
    font-size: 6px;
}
#obj_prix{
    color:black;
    font-size: 6px;
    padding-top: 3px;
}
#obj_date{
    color:black;
    font-size: 6px;
    padding-top: 3px;
}
.croix-text {
    width: 11px;
    height: 16px;
    cursor: pointer;
}
.croix {
    width: 100%;
}
span.croix-text.croix i.fas.fa-times{
    color: rgb(216, 36, 60);
    padding-left: 4px;
    padding-top: 5px;
}
div.msgUseCardLeft div#ad_obj div#ad_text2:nth-child(2){
    color: black;
    letter-spacing: 0.6px;
}
section#mainBlockMsgBlack div#BoxAdItemBlack div#ad_obj div#ad_text2:nth-child(3), section#mainBlockMsgBlack div#BoxAdItemBlack div#ad_obj div#ad_text2:nth-child(4), section#mainBlockMsgBlack div#BoxAdItemBlack div#ad_obj div#ad_text2:nth-child(5){
    color: #0b2e13;
    font-family: "Calibri Light";
}
div.msgUseCardLeft div#ad_obj div#ad_text2:nth-child(4){
    color: #0b2e13;
    font-family: "Calibri Light";
}
div.msgLeftCard2 h6#ad_prenom{
    font-weight: bolder;
}
div.msgLeftCard2 h6#ad_prenom::first-letter{
    text-transform: uppercase;
}
div.msgUseCardLeft div#ad_obj div#ad_text2:last-child {
    font-size: 12px;
    color: rgb( 141, 5, 26);
}

/* --- BOX CHAT --->*/

#BoxInfo{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
}
main#BoxMain section.RoomUser div#BoxUserMate section#mainBlockMsgBlack div#BoxAdItemBlack div#ad_obj div#ad_text2:last-child{
    font-size: 12px;
    color: rgb( 141, 5, 26);
}
#BoxInfoImg{
    height: 40px;
    width: 40px;
}
#BoxInfoText{
    height: 10%;
    width: 30%;
}
#BoxInput{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}
#BoxChat{
    border-radius: 25px;
    display:flex;
    flex-direction: column;
    align-content: space-between;
    background: rgba(0,0,0,0.25);
    width: 38%;
    height: 98%;
    padding: 10px;
}
#BoxDuo{
    padding: 5px;
    overflow-y:scroll;
    scrollbar-width: thin;
    width: auto;
    height: auto;
}
#BoxHistory {
    border-radius: 25px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: auto;
}
#BoxTweet{
    background-color: whitesmoke;
    border-radius: 35px;
    width: 45%;
    height: auto;
    overflow: hidden;
}
#BoxTweetMask{
    border-radius: 35px;
    width: 45%;
    height: 80%;
    font-size: 10px;
}
#CadreTweet{
//border: 1px solid aqua;
    width: 80%;
    height: 75%;
    font-size: 14px;
    margin-left: 10%;
    margin-top: 5%;
}
#tweet_stamp{
    color:black;
    font-size: 9px;
    padding-top: 15px;
    text-align: right;
    padding-right: 26px;
}
#tweet_input {
    width: 90%;
}
/*main#BoxMain section.RoomUser div#BoxChat div#BoxInput form#tweet_input input{
    height: 38px;
    color: rgba(0,0,0,0.75);
    font-size: 16px;
}*/
#BoxDeal{
//border: 1px solid violet;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
main#BoxMain section.RoomUser div#BoxChat div#BoxDeal h5{
    color: white;
}
#BoxDealImg{
    height: 80px;
    width: 80px;
}
#a_button:link, #a_button:visited {
    background-color: whitesmoke;
    color: rgba(0,0,0,0.8);
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 6px;
    font-family: "Arial Black";
    letter-spacing: 1px;
}
#a_button:hover, #a_button:active {
    background-color: green;
    color: white;
    border-radius: 6px;
}
main#BoxMain section.RoomUser div#BoxChat div#BoxInput form#tweet_input input{
    border-radius: 8px;
    width: 90%;
}

/* --- BOX USER MATE --- */

#BoxUserMate {
    background: rgba(0,0,0,0.25);
    border-radius: 25px;
    width: 25%;
    height: 98%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.imgMsgRight{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
}
.imgMsgRight>img{
    width: 100%;
    height: 100%;
}
#BoxMatePrenom{
    height:30px;
    text-align: center;
    color: white;
    font-size: 22px;
    font-weight: 700;
    width: 100%;
}
#BoxMatePrenom::first-letter{
    text-transform: uppercase;
}
#BoxMateLocalisation{
    height: 30px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 600;
}
main#BoxMain section.RoomUser div#BoxUserMate div#BoxMateLocalisation i.fas.fa-map-marker-alt{
    padding-right: 4px;
}
main#BoxMain section.RoomUser div#BoxUserMate div#BoxMateButton a#a_button{
    height: 18px;
    width: 40px;
}
#BoxMateButton{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}
main#BoxMain section.RoomUser div#BoxUserMate div#BoxAdItemBlack{
    background-color: transparent !important;
    height: 94%;
    width: 90%;
    scrollbar-width: thin;
    overflow-y:scroll;
    scrollbar-margin-right: 10px;
    display:flex;
    flex-direction:column;
    margin-top: 0;
}
main#BoxMain section.RoomUser div#BoxUserMate div#BoxAdItemBlack section.ad_main_user div#ad_user{
    width: auto;
}
.identCardRight{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}
.ad_main_user{
    width: 96%;
    height: auto;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}
main#BoxMain section.RoomUser div#BoxUserMate div#BoxAdItemBlack div#ad_obj{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
}
#mainBlockMsgBlack{
    height: 200px;
    width: 90%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: whitesmoke;*/
    background: radial-gradient(#e2eaf3, transparent);

}
main#BoxMain section.RoomUser div#BoxUserMate section#mainBlockMsgBlack div#BoxAdItemBlack div#ad_obj div#ad_text2:nth-child(2), div#BoxAdItemBlack section.ad_main_user div#ad_user div.identCardRight h6#ad_prenom{
    color: rgba(0,0,0,0.8);
    letter-spacing: 0.6px;
    margin-bottom: 6px;
}
section.RoomUser div#BoxUserMate section#mainBlockMsgBlack div#BoxAdItemBlack section.ad_main_user div#ad_user div.identCardRight h6#ad_prenom::first-letter{
    text-transform: uppercase;
}
section.RoomUser div#BoxUserMate section#mainBlockMsgBlack div#BoxAdItemBlack section.ad_main_user div#ad_user div.identCardRight h6#ad_prenom {
    color: white;
    margin-top: 4px;
    font-weight: bolder;
}
section.RoomUser div#BoxUserMate section#mainBlockMsgBlack div#BoxAdItemBlack section.ad_main_user div div#ad_title_need, section.RoomUser div#BoxUserMate section#mainBlockMsgBlack div#BoxAdItemBlack section.ad_main_user div div#ad_title_beed{
    margin-top: 0;
    margin-left: 0;
}
.rating-chatroom{
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
}
main#BoxMain section.RoomUser div#BoxUserMate div.rating-chatroom div:nth-child(2){
    color: white;
    padding-left: 5px;
    padding-top: 4px;
}