
/*

  INSTRUCTIONS ---------------------------------------------------------------------------------
  
  1. Add this stylesheet to the <head> of your pages
     <link href="YOUR PATH/datepicker2-vopus.css" rel="stylesheet" type="text/css" />
     
  2. Use the file name as data-dd-theme attribute on your datedropper elements
     <input data-dd-theme="datepicker2-vopus" />
     
*/


div.datedropper.datepicker2-vopus {

  --dd-color1: #cc23a0;
  --dd-color2: #FFF;
  --dd-color3: #4D4D4D;
  --dd-color4: #FFF;

  --dd-radius: 12px;
  --dd-width: 180px;
  --dd-shadow: 0 0 32px 13px rgba(0, 0, 0, 0.2);

}

