/* CSS responsive */


/* CSS Responsive My DEALS page*/

@media screen and (max-width: 600px) {


    .MyDealMyDeal{
        width: 100%;
    }
    div.summuaryMyDealChild div article{
        font-size:12px;
    }
    #thumbnailsMyDeal{
        width:90%;
        margin: auto;
    }
    div.mainBlockMyDeal div#titleMyDeal div article{
        width: 100%;
        margin: auto;
        font-size: 20px;
    }
    div#abstractInfoDeal div article#FirstNameMyDeal{
        font-size: 12px;
    }
    .summuaryMyDealChild:hover{
        background-color:rgba(145,100,0,0.2);
        transform: scale(1.05);
    }
    div#cityMyDeal div#cityMyDealChild article{
        font-size: 12px;
    }
    .btnMyDealView>div>.btn-danger{
        width: 120px;
        height: 26px;
        font-size: 12px;
    }
    .btnContactMyDeal>div>.btn-danger{
        width: 120px;
        height: 26px;
        font-size: 12px;
    }
    #titleMyDeal{
        height: 90px;
        margin-top: 0;
        margin-left: 40px;
    }
    footer{
        height: 55px;
    }
}

/* CSS Responsive Chatbox */

@media screen and (max-width: 600px) {
    
    .contacts_card{
    margin-bottom: 15px !important;
}
    #propositionQuestionBtn>.btn-success{
    font-size: 12px;
}
    #propositionBtn2>.btn-success{
    font-size: 12px;
} 
    div.container-fluid.h-100.mt-3 div#mainCardChatbox.row.h-100 div.card.mb-sm-3.mb-md-0.contacts_card{
        margin-top: 18px;
    }
}