body{
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", Arial, Verdana, sans-serif;
}
a:hover{
    text-decoration: none;
}

/* CSS header (navBar) */

#btnRegistration{
    color: rgb(6, 91, 12);
    border-color: rgb(6, 91, 12);
    background-color: white;
}
#btnRegistration:hover{
    color: rgba(6, 91, 12, 0.55);
    border-color: rgb(6, 91, 12, 0.55);
    background-color: white;
}
#navbarNavDropdown>.navbar-nav>.nav-item{
    padding-left: 30px;
}
#espCon{
    width: 190px;
    text-align: left;
}
.nav-item>.nav-link>i{
    font-size: 20px;
}
#btnLogin{
    background-color: rgb(6, 91, 12);
    border: none;
}
#btnLogin:hover{
    background-color: rgba(6, 91, 12,0.75);
}
#menuIcons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 200px;
    margin-right: 30px;
}
.dropdown-item:hover{
    background-color: rgba(236, 233, 236, 0.65);
}

div#navbarNavDropdown.collapse.navbar-collapse ul.navbar-nav.ml-auto.mt-2.mt-lg-0 div#menuIcons li.nav-item.dropdown.show div.dropdown-menu.show{
    color : rgba(0,0,0,0.8);
}
div#navbarNavDropdown.collapse.navbar-collapse ul.navbar-nav.ml-auto.mt-2.mt-lg-0 div#menuIcons li.nav-item.dropdown.show div.dropdown-menu.show a.dropdown-item:nth-child(4){
    color: rgb(241, 15, 50);
}
a>nav-link{
    color: black;
}
.navbar-nav{
    margin-right: 20px;
}
#espPro{
    width: 450px;
    text-align: left;
}
.navbar-light>.navbar-brand{
    margin-left: 20px;
    color: #0b2e13;
}
.navbar-light .navbar-nav .nav-link{
    color: rgb(0, 10, 2);
}
.navbar-light .navbar-nav .nav-link:hover{
    color: rgb(24, 95, 38);

}
a.navbar-brand .logo_integration{
    z-index: 1000;
    position: absolute;
    width: 170px;
    height: 46px;
    top: 5px;
}
header section nav.navbar.navbar-expand-lg.navbar-light.bg-light a.navbar-brand .logo_integration>img, header nav.navbar.navbar-expand-lg.navbar-light.bg-light a.navbar-brand div.logo_integration img{
    width: 100%;
    height: 100%;
}

/* CSS index page */

#mainPicture1{
    background-image: url("../images/main_photo1.png");
    background-size: cover;
    min-height: 100vh;
}
.input-group>input{
    border-radius: 16px;
}
.form-group>label, .card-title, #haveAnAccount{
    color:white;
}
.input-group>textarea{
    font-size: 14px;
}
.cityFormHome{
    font-size: 14px;
}
section.btnRadioAccueil div.form-check-inline label.form-check-label, div#littleChildBlock1 div#winTitle12.pt-3.pb-2 strong, div#childBlock3 div#littleChildBlock2 div#winTitle12.pt-3.pb-2 strong{
    color: rgba(0,0,0,0.65);
}
div#childBlock2 div#littleChildBlock1 div#fieldCity.input-group.pt-4 input.cityFormHome, div#childBlock3 div#littleChildBlock2 div#fieldCity.input-group.pt-4 input.cityFormHome{
    padding-left: 6px;
}
div#childBlock2 div#littleChildBlock1 div#btnSearchHome.btn.btn-success{
    margin-top: 18px;
    -webkit-border-radius: 13px;
    background-color: rgb(204, 35, 160);
    border: none;
}
#btnSearchHome{
    width: 130px;
    height:38px;
    padding-top: 20px;
}
div#childBlock2 div#littleChildBlock1 div#fieldCity.input-group.pt-3, div#childBlock3 div#littleChildBlock2 div#fieldCity.input-group.pt-3{
    width: 180px;
}
#childBlock2{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 330px;
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 16px;
}
#childBlock3{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 330px;
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 16px;
}
#parentBlock1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 4%;
}
#greatBlock1{
    width: 100%;
    height: 553px;
    display: flex;
    align-items: flex-end;
}
#littleChildBlock2, #littleChildBlock1{
    width: 275px;
    height: 305px;
}
#winTitle1{
    text-align: center;
    color: rgb(204, 35, 160);
}
#winTitle12{
    font-size: 14px;
}
#winTitle2{
    text-align: center;
    color: rgb(8, 176, 16);
}
#winTitle2>article, #winTitle1>article{
    font-size: 22px;
    font-weight: 700;
}
.btnRadioAccueil{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 6%;
}
.btnRadioAccueil article{
    font-size: 16px;
    color: rgba(0,0,0,0.7);
}
div#littleChildBlock1 div.input-group textarea.form-control, div#littleChildBlock2 div.input-group textarea.form-control{
    border-radius: 10px;
}
.btnRadioAccueil .form-check-inline{
    width: 130px;
}
.btnBild{
    width: 100%;
    height: 38px;
    border-radius: 12px 0 12px 0;
    background: rgb(8, 176, 16);
    border: none;
    color:#fff;
    padding: 6px 0 6px 0;
}
main#mainPicture1 section#greatBlock1 div#parentBlock1 div#childBlock2 div#littleChildBlock1 div#btnSearchHome button{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 38px;
    border-radius: 12px;
    background-color: rgb(204, 35, 160);
    border: none;
    color:#fff;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}
main#mainPicture1 section#greatBlock1 div#parentBlock1 div#childBlock3 div#littleChildBlock2 div#btnSearchHome button{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 38px;
    border-radius: 12px;
    background-color: rgb(8, 176, 16);
    border: none;
    color:#fff;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}
button .ripple{
    position: absolute;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    animation: ripple 1s ease-in-out;
}
@keyframes ripple{

    to{
        opacity: 0;
        transform: translate(-50%, -50%) scale(2.5);
    }
}
#accroche_logo_index{
    z-index: 1000;
    position: absolute;
    width: 480px;
    height: 30px;
    top: 90px;
    left: 54px;
}

#accroche_logo_index>div>h5{
    font-family: Papyrus;
    font-weight: 900;
    font-size: 34px;
    background: linear-gradient(to left,  #ad9f8e ,   #bfbfbf   );
    text-shadow: 1px 0 1px   #f4efea ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#accroche_logo_index>div:last-child{
    margin-left: 138px;
}


/* CSS Partie développement durable de la page 'Index' */

.three_central{
    height: 780px;
    display: flex;
    align-items: center;
    background-image: url("../images/monochrome.jpg");
    background-size: cover;
}
.three_central_child{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}
.logo_dev_three{
    width: 320px;
    height: 130px;
    margin-top: 50px;
    overflow: hidden;
}
.logo_dev_three>img{
    width: 100%;
    height: 100%;
}
#title_three_dev{
    width: 80%;
    height: 44px;
    margin-top: 30px;
}
#title_three_dev>article{
    color: rgba(5, 73, 7, 0.85);
    font-weight:bold;
    font-size: 32px;
    text-align: center;
}
.great_block_central_three{
    height: 550px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-top: 44px;
}
.dev-central-block{
    display: flex;
    flex-direction: column;
    justify-content: space-around !important;
    align-items: center;
    width: 220px;
    height: 470px;
    background-color: white;
    border-radius: 14px;
}
.title_dev_central>div>article{
    color: rgba(5, 73, 7, 0.85);
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}
.icon-dev-central>img{
    width: 100%;
    height: 100%;
}
.icon-dev-central{
    border-radius: 50%;
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.block_text_dev>p{
    margin:10px;
    text-align: center;
    color: #161f23;
    line-height: 28px;
}
.title_dev_central{
    width: 100%;
    height: 38px;
    display: flex;
    justify-content: center;
}
.block_text_dev{
    width: 100%;
    height: 140px;
}

/* CSS registration, login and forgotten_password pages */

.mainIns{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main#mainPicture1.mainIns div.container.d-flex.justify-content-center div.card{
    background: rgba(0,0,0,0.5);
    border-radius: 17px;
}
.input-group-text{
    background-color: white;
    border-radius: 17px;
}
.paddLog{
    padding-top: 15px;
    text-align: center;
}
.nav-item>a>.btn{
    border-radius: 20px;
}
.btn-primary{
    border-radius: 15px;
    background: linear-gradient(135deg, rgb(204, 35, 160), rgb(8, 176, 16));
    border-style: none;
}
.card-body>.alert{
    border-radius: 15px;
}
.form-group>.input-group>input{
    background: rgba(0,0,0,0.35);
}
main#mainPicture1 div.container div.row.h-100.justify-content-center.align-items-center div.card{
    background: rgba(0,0,0,0.5);
    border-radius: 17px;
    width: 340px;
    margin-top: 10px;
}
main#mainPicture1 div.container div.row.h-100.justify-content-center.align-items-center div.card>h6.card-header{
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    background: rgba(0,0,0,0.2);
    color: white;
}
div.container div.row.h-100.justify-content-center.align-items-center div.card div.card-body form div.row div.col-md-12 div.form-group div.input-group input#email.form-control{
    width: 220px;
}
main#mainPicture1 div.container div.row.h-100.justify-content-center.align-items-center div.card div.card-body form div.row div.col-md-12 input.btn.btn-primary.btn-lg.btn-block{
    width: 230.4px;
    height: 38px;
    font-size: 16px;
}
.card-body>.alert-danger, .card-body>.alert-success{
    font-size: 13px;
    color: rgb(240, 239, 228);
}
div.card div.card-body div.alert.alert-danger{
    background-color: rgb(200, 53, 53);
    color: white;
    border: none;
}

/* CSS slider: moments of life*/

.parent {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.items {
    background: rgb(255, 255, 255);
    height: 160px;
    margin: 40px 10px;
}
.items img {
    display: block;
    width: 100%;
    height: 160px;
    cursor: pointer;
    transition: transform 3s;
    border-radius: 4px;
}
.items img:hover {
    transform: scale(1.1);
    border-radius: 4px;
}
.item__image{
    width:100%;
    overflow: hidden;
    height: 100%;
    position:relative;
}
.item__title {
    font-size: 14px;
    margin-bottom: 5px;
    margin-left: 3px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.75);
    text-align: left;
}
.title12{
    display: flex;
    justify-content: center;
    margin-top: 35px;
    font-size: 30px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
}
div.parent div.owl-carousel.owl-theme.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.active div.items div.item__body div.item__title:first-letter{
    text-transform: uppercase;
}


/* CSS Moments of life */

#img_moment{
    width: 100%;
    height: 300px;
}
#img_moment img{
    width: 100%;
    height: auto;
}

/* CSS list of proposals */

#standards-prop{
    display: flex;
    flex-direction: row;
    width: 985px;
    height: 150px;
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 15px;
    border: solid 1px darkolivegreen;
}
#title-standard1>h4{
    font-size: 18px;
    font-weight: 700;
    color: white;
    margin-top: 20px;
    margin-left: 30px;
}
#btn-radio-prop{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
div#page-prop2 div#center-prop section#standards-prop div#btn-radio-prop div.form-check-inline label.form-check-label{
    padding-top: 10px;
}
#city-prop{
    margin-left: 100px;
}
#title-city1>h4{
    color: white;
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
}
.cityFormHome2{
    width: 100px;
    font-size: 14px;
    padding-left: 11px;
    font-weight: 600;
}
#title-city2{
    display: flex;
    flex-direction: row;
}
#perimeter1{
    padding-top: 20px;
}
#page-prop2{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.add-prop{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 985px;
    height: 160px;
    border-radius: 15px;
    background-color: rgba(236, 252, 199,0.25);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 40px;
}
.add-prop2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 955px;
    height: 140px;   
    color: black;
}
#photo-prop{
    width: 110px;
    height: 110px;
    border: groove 1px darkolivegreen;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 50px;
}
#ident-prop{
    width: 220px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#first-name-prop{
    display: flex;
    justify-content: center;
    width: 120px;
    padding-top: 6px;
    font-size: 16px;
}
#part-tittle-add{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 650px;
}
#main-title-add>h4{
    font-size: 22px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
}
#descrip-add-prop{
    display: flex;
    flex-wrap: wrap;
}
#city-and-date-prop{
    display: flex;
    flex-direction:row;
    justify-content:space-around;
}
#part-price-add{
    width: 100px;
    display: flex;
}
#price-add3-need{
    padding:10px;
}
#price-add3-bid{
    padding:10px;
}
#center-prop{
    width: 77%;
    height: auto;
    display: flex;
    flex-direction: column;
}
div#city-and-date-prop div#city-prop2 h6, div#city-and-date-prop div#date-prop2 h6{
    font-size: 13px;
}
div#page-prop2 div#center-prop section#standards-prop div#city-prop div#title-city2 div#perimeter1.btn-group.show ul.dropdown-menu.show li>a{
    padding-left: 16px;
    color: rgba(0, 0, 0, 0.7);
}
#standards-prop{
    background-color: rgba( 9, 9, 0, 0.7);
}
div#page-prop2 div#center-prop section#standards-prop div#city-prop div#title-city2 div#perimeter1.btn-group button.btn.btn-default{
    color: white;
}
div#page-prop2 div#center-prop section#standards-prop div#btn-radio-prop div.form-check-inline label.form-check-label{
    color: white;
}
div.add-prop div.add-prop2 div#part-tittle-add div#city-and-date-prop div#city-prop2{
    display: flex;
    flex-direction: row;
    color: rgba(9, 103, 34,0.65);
}
div#part-tittle-add div#city-and-date-prop div#city-prop2 div h6, div#part-tittle-add div#city-and-date-prop div#date-prop2 h6{
    padding-top: 7px;
    padding-left: 4px;
}
div#center-prop div.add-prop div.add-prop2 div#part-price-add div#price-add3-need{
    width: 148px;
    height: 42px;
    border: none;
    border-radius: 8px;
    background-color: rgb(204, 35, 160);
}
div#center-prop div.add-prop div.add-prop2 div#part-price-add div#price-add3-bid{
    width: 148px;
    height: 42px;
    border: none;
    border-radius: 8px;
    background-color: rgb(8, 176, 16);
}
div#center-prop div.add-prop div.add-prop2 div#part-price-add div#price-add3-need>article{
    color: white;
    text-align: center;
}
div#center-prop div.add-prop div.add-prop2 div#part-price-add div#price-add3-bid>article{
    color: white;
    text-align: center;
}


/* CSS lists moments */

#central-block-moments{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.thumbnail-moments{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 180px;
    border-radius: 12px;
    background: linear-gradient(135deg, rgb(204, 35, 160), rgb(8, 176, 16));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 33.33px;
    margin-bottom: 35px;

}
.thumbnail-moments2{
    width: 98%;
    height: 98%;
    background-color: whitesmoke;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#top-photo-of-moments{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    overflow: hidden;
}
#title-photo-moments{
    text-align: left;
    padding-left: 150px;
    color: white;
    font-weight: 800;
    font-size: 36px;
    width: 100%;
    height: auto;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    z-index: 2000;
}
#central-block-moments{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 1600px;
}
#central-child-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    height: 100%;
}
#block-post-moments{
    display: flex;
    justify-content: center;
    margin-top: 200px;
    width: 20%;
    height:750px;
}
#descrip-moments{
    width: 80%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#descrip-child-moments{
    width: 100%;
    height: auto;
}
#descrip-child-moments>h3{
    text-align: center;
    font-size: 28px;
    font-weight:700;
    color: rgba(0, 0, 0, 0.7);
    text-shadow: 1px 1px 2px grey;
}

#block-moments-services{
    width: 950px;
    height: 700px;
    background: linear-gradient(to right, #ffeeee, #ddefbb);
    border-radius: 13px;
    overflow-y:scroll;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#block-moments-locations{
    width: 950px;
    height: 700px;
    background: linear-gradient(to right, #ffeeee, #ddefbb);
    border-radius: 13px;
    overflow-y:scroll;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#block-child-post-moment{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 94%;
    height:90%;
    background-color: rgba(0,0,0,0.8);
    border-radius: 13px;
}
.title-moments4{
    width: 100%;
    height: 40px;
    margin-top: 24px;
    margin-bottom: 24px;
}
.title-moments4>h4{
    font-size: 23px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 600;
    margin-left: 100px;
}
#block-child-moments-services, #block-child-moments-locations{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
}
div#central-child-block div#block-moments-locations div#block-child-moments-locations section.thumbnail-moments div.thumbnail-moments2 div#moments-check3 div.form-check label.form-check-label article, div#central-child-block div#block-moments-services div#block-child-moments-services section.thumbnail-moments div.thumbnail-moments2 div#moments-check3 div.form-check label.form-check-label article{
    text-align: center;
    width: 100%;
}
div#block-moments-locations div#block-child-moments-locations section.thumbnail-moments div.thumbnail-moments2 div#moments-check3 div.form-check, div#block-moments-services div#block-child-moments-services section.thumbnail-moments div.thumbnail-moments2 div#moments-check3 div.form-check{
    padding-left: 0 !important;
    text-align: center;
}

#moments-check3{
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.thumbnail-moments-price{
    width: 100%;
    height: auto;
}
.thumbnail-moments-price>article{
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-shadow: 0.5px 0.5px rgba(0,0,0,0.15);
    letter-spacing: 1px;
}
#moments-check3>.form-check input[type=checkbox] {
    display: none;
}
div.thumbnail-moments2 div#moments-check3 div.form-check label.form-check-label{
    font-weight: 600;
    text-shadow: 0.5px 0.5px rgba(0,0,0,0.05);
    letter-spacing: 1px;
    color: rgba(0,0,0,0.75);
}
#moments-check3>.form-check label:before {
    content: "";
    display: none;
    width: 18px;
    height: 18px;
    background-color: #dddddd;
    border-radius: 11px;
    border: solid 1px grey;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.nomber-moments{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 27%;
}
.title-number-moments{
    width: 100%;
    height: auto;
}
.title-number-moments>h3{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: white;
}
.title-number-moments>h1{
    text-align: center;
    font-size: 54px;
    font-weight: 800;
    color: white;
}
#city-post-moments{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
}
.title-number-moments{
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: white;
}
.block-field-post-city{
    display: flex;
    justify-content: center;
    width: 100%;
    height:auto;
}
#field-post-moments-city, #date-moments-post1, #icon1-image{
    width: auto;
    height: auto;
}
div.block-field-post-city div#field-post-moments-city.input-group.pt-4 input.cityPostMoments{
    width: 165px;
    height: 38px;
    border-radius: 14px;
}
#field-post-moments-city input.cityPostMoments{
    padding-left: 10px;
}
.block-post-date1{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#need-date-post{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
#need-date-post>article{
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding-left: 12px;
}
.btnBoolPost{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.btnBoolPost>.form-check-inline>.form-check-label{
    color: white;
    font-weight: 100;
}
.main-date-moments{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#btnPostMoments{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
}
div.check-date-moment input#moment-date-input.picker-trigger{
    border-radius: 4px;
    border-width: 1px;
    height: 38px;
    width: 165px;
}
input#moment-date-input.picker-trigger{
    padding-left: 12px;
    color : rgba(0,0,0,0.65);
}
div.main-disposition1{
    height: 1860px;
    width: auto;
}
.nameObjMoment{
    width: 100%;
    height: 100%;
}
div#moments-check3 div.form-check.pl-0 label.form-check-label article{
    margin: 10px;
}

/* CSS Profile Page */

.subTitleProfile{
    width: 100%;
    height: 45px;
}
.block-profile26{
    width: 80%;
    height: 110px;
    border-bottom: solid 0.4px grey;
}
.subTitleProfile>h3{
    font-size: 18px;
    font-weight: 700;
    color: black;
    margin-left: 52px;
}
.main-block-profile{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
#profile-mapping{
    width: 100%;
    height: 250px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    overflow: hidden;
    display: block;
}
#profile-mapping>img{
    width: 100%;
    height: 100%;
}
#main-presentation-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 180px;
    margin-top: 45px;
}
#photo-gallery-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 180px;
}
#profile-ratings{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height:auto;
}
#block-presentation-profile7>article{
    color: rgba(0,0,0,0.65);
    font-size: 18px;
    font-weight: 600;
    font-family: "Gill Sans", sans-serif;
}
#picture-parent-profile{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#picture-child-profile{
    width: 104px;
    height: 104px;
    border-radius: 12px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}
#block-presentation-profile7{
    width: 100%;
    height: 100%;
    margin: 11px;
}
#icon1-image{
    width: auto;
    height: auto;
}
#photo-profile{
    position: absolute;
    top: 250px;
    right: 90px;
    width: 250px;
    height: 380px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
#photo-child-profile{
    padding-top: 10px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
#photo-child-profile img{
    width:100%;
    height:100%;
}
#first-name-profile, #city-name-profile5{
    width: 100%;
    height: 60px;
}
#first-name-profile>h4{
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    color: black;
    padding-top: 18px;
}
#city-name-profile5>h4{
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    color: rgba(0,0,0,0.75);
    padding-top: 10px;
}
div.main-block-profile.container div.block-photo-btn section#photo-profile div.star-rating-profile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 44px;
}
div.main-block-profile.container div.block-photo-btn section#photo-profile div.star-rating-profile div article{
    padding-top: 4px;
}
.star-rating-profile article{
    color: black;
    padding-left: 5px;
}
#btn-modify-profile{
    position: absolute;
    top: 650px;
    right: 135px;
}
#btn-modify-profile .btn-success{
    background: white;
    border:none;
    border-radius: 7px;
    color: rgba(0,0,0,0.95);
}
#btn-modify-profile .btn-success:hover{
    color: rgba(0,0,0,0.85);
    background: rgb( 233, 247, 239 );
}


/* CSS Profile edition */

.main-profile-edition{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#title-edition{
    width: 100%;
    height: 100px;
}
#title-edition>h3{
    font-size: 34px;
    font-weight: 700;
    color: rgba(0,0,0,0.8);
    padding-top: 35px;
    margin-left: 65px;
}
#main-child-edition{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 700px;
    height: 1700px;
}
.modify-photo{
    width: 90%;
    height: 100px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
}
.modify-mail-num{
    width: 100%;
    height: 140px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
}
form div#main-child-edition div.modify-mail-num div.modify-mail div#modify-mail div.form-group{
    margin-right: 15px;
}
form div#main-child-edition div.modify-mail-num div.modify-num div#modify-number div.form-group{
    margin-top: 12px;
    margin-right: 15px;
}
form div#main-child-edition div.modify-mail-num div.modify-mail div#title-modify-photo article{
    padding-top: 16px;
}
#title-modify-photo{
    display: flex;
    align-items: center;
    width: auto;
    height:auto;
}
#title-modify-photo>article, #kindAndDate article, #title-indent4>article, #title-indent3>article{
    font-size: 16px;
    color: rgba(0,0,0,0.8);
    margin-left: 15px
}
.drop_target {
    position: relative;
    cursor: pointer;
    background: #e6e6e6;
    border-radius: 50%;
    width: 84px;
    height: 84px;
    transition: all 0.2s;
    margin-bottom: 0 !important;
    overflow: hidden;
}
.drop_target input[type="file"] {
    visibility: hidden;
}
.drop_target:before {
    font-family: FontAwesome;
    position: absolute;
    display: block;
    width: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 32px;
    color: rgba(0, 0, 0, 0.3);
    transition: color 0.2s;
}
.drop_target:hover, .drop_target.dropping {
    background-color: rgb(204, 35, 160);
    border-color: rgb(135, 20, 133);
}
.drop_target:hover:before, .drop_target.dropping:before {
    color: rgba(0, 0, 0, 0.6);
}
div#main-child-edition div.modify-photo div#underBlockPhoto div#photo-location label.drop_target div.image_preview{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#photo-child-location{
    overflow: hidden;
    width: 78px;
    height: 78px;
    border: solid 1px rgba(0,0,0,0.8);
    border-radius: 50%;
    background-size: contain;
}
#photo-child-location>img{
    display: block;
    width:100%;
    height:100%;
}
#photo-location{
    width:  320px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.modify-num, .modify-mail{
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#main-ident{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
}
#kindAndDate{
    width: 100%;
    height:106px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div#main-ident section#kindAndDate div#kindModify div.btn-group.btn-group-toggle{
    margin-left: 15px;
}
.child-birthdayModify>article, #title-indent3>article, div.top-modify-photo div button.btn.btn-outline-secondary{
    margin-right: 15px;
}
div#main-ident section#kindAndDate div#birthdayModify div.form-group.row{
    width: 240px;
}
#kindModify{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#birthdayModify{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#identity8{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#ident-blockModify{
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#identity8 .form-group, #identity7 .form-group{
    margin-right: 15px;
    margin-left: 15px;
}
#identity7{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 12px;
}
form div#main-child-edition div#main-ident section div.form-group input#inputAddress.form-control{
    margin-left: 15px;
    width: 330px;
}
#main-description{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 280px;
    background-color: white;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.child-description{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.child-description .form-group{
    width: 500px;
}
.little-child-description{
    display: flex;
    justify-content: center;
}
#little-modify-photo2{
    display: flex;
    justify-content: flex-end;
    width: 104px;
    height: 104px;
    overflow: hidden;
    border-radius: 8px;
}
#main-modify-photos{
    width: 90%;
    height: 230px;
    background-color: white;
    border-radius: 12px;
}
.child-modify-photo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#little-modify-photo{
    display: flex;
    flex-direction: row;
}
.top-modify-photo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: auto;
}
#modify-MP1{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    background-color: white;
    border-radius: 12px;
}
#main-modify-MP1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
section#modify-MP1 div#main-modify-MP1 div#modify-field-MP1 div.form-group{
    margin-right: 15px;
    margin-top: 28px;
}
.main-valid-modify{
    width: 90%;
    height: 120px;
}
.main-valid-modify2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.main-profile-edition.container-fluid div#main-child-edition div.modify-photo div#underBlockPhoto div#photo-location div#subTitlePhoto div button.btn.btn-outline-secondary, div.main-profile-edition.container-fluid div#main-child-edition section#main-modify-photos div.child-modify-photo div.top-modify-photo div button.btn.btn-outline-secondary{
    width: 160px;
    height: 40px;
    color: black;
    border-color: black;
    background-color: white;
    cursor: pointer;
}
div.main-profile-edition.container-fluid div#main-child-edition div.modify-photo div#underBlockPhoto div#photo-location div#subTitlePhoto div button.btn.btn-outline-secondary:hover, div.main-profile-edition.container-fluid div#main-child-edition section#main-modify-photos div.child-modify-photo div.top-modify-photo div button.btn.btn-outline-secondary:hover{
    background-color: rgb(236, 240, 241);
}
div#main-modify-MP1 div#title-indent3 article{
    padding-top: 10px;
}
div#modify-field-MP1 div.form-group div.alert.alert-danger{
    color: white;
    background-color: rgb(222, 56, 56);
    border-radius: 8px;
}
div#main-child-edition section#main-modify-photos div.child-modify-photo div.top-modify-photo label.drop_target{
    position: relative;
    cursor: pointer;
    background: #e6e6e6;
    border-radius: 10px;
    width: 130px;
    height: 130px;
    transition: all 0.2s;
    margin-bottom: 0 !important;
    overflow: hidden;
    border: dashed 3px grey;
}
section#main-modify-photos div.child-modify-photo div.top-modify-photo label.drop_target div.image_preview{
    z-index:2;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.image_preview div{
    z-index: 1;
}
div#main-child-edition section#main-modify-photos div.child-modify-photo div.top-modify-photo label.drop_target:hover{
    background-color: rgb(204, 35, 160);
    border-color: rgb(135, 20, 133);
}
div#main-child-edition section#main-modify-photos div.child-modify-photo div.top-modify-photo label.drop_target.dropping {
    background-color: rgb(204, 35, 160);
    border-color: rgb(135, 20, 133);
}
#post-presentation-edition{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
}
section#main-description div.child-description div#post-presentation-edition div button.btn.btn-success{
    margin-right: 14px;
}
#post-modify-password2{
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
}
#EditCentralProfile{
    width: 90%;
    height: 802px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
section#EditCentralProfile section#main-description div.child-description div#post-presentation-edition div input.btn.btn-success{
    margin-right: 15px;
}
div#modify-field-MP1 form div.form-group{
    width: 306px;
}
#birthdayModify .form-group .col-10 input{
    border-radius: 4px;
    border-width: 1px;
    height: 38px;
    width: 195px;
}
input#example-date-input.picker-trigger{
    padding-left: 12px;
    color : rgba(0,0,0,0.65);
}
.child-birthdayModify article{
    margin-top: 10px;
    margin-bottom: 24px;
}
.imagePreview, .imagePreview2{
    width: 130px;
    height: 130px;
    background-position: center center;
    background:url(#);
    background-color:#fff;
    background-size: cover;
    background-repeat:no-repeat;
    display: inline-block;
    box-shadow:0px -3px 6px 2px rgba(0,0,0,0.2);
}
.imagePreview section.iconUpload, .imagePreview2 section.iconUpload2{
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagePreview section.iconUpload>div.iconUploadChild, .imagePreview2 section.iconUpload2>div.iconUploadChild2{
    width: 55px;
    height: 49px;
    opacity: 0.2;
}
.imgUp, .imgUp2, .imgUp3{
    margin-left: 60px;
    margin-bottom:15px;
}
.del
{
    position:absolute;
    top:0px;
    right:15px;
    width:30px;
    height:30px;
    text-align:center;
    line-height:30px;
    background-color:rgba(255,255,255,0.6);
    cursor:pointer;
}
.imgAdd
{
    width:30px;
    height:30px;
    border-radius:50%;
    background-color: rgb(204, 35, 160);
    color:#fff;
    box-shadow:0px 0px 2px 1px rgba(0,0,0,0.2);
    text-align:center;
    line-height:30px;
    margin-top:0;
    cursor:pointer;
    font-size:15px;
}
div.imagePreview label input.uploadFile.img, div.imagePreview2 label input.uploadFile.img, div.imagePreviewProfile label input.uploadFile.img{
    width: 0px;
    height: 0px;
    overflow: hidden;
    display: none;
}
.imagePreviewProfile{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-position: center center;
    background:url(#);
    background-color:#fff;
    background-size: cover;
    background-repeat:no-repeat;
    display: inline-block;
    box-shadow:0px -3px 6px 2px rgba(0,0,0,0.2);
}
div.imagePreviewProfile label section.iconUpload{
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.imagePreviewProfile label section.iconUpload div.iconUploadChild{
    width: auto;
    height: auto;
}

/* CSS Page proposition */

#greatBlockProposition{
    height:500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.greatLeftBlockProp{
    width: 330px;
    height: 520px;
    display: flex;
    align-items: center;
}
div.mainGreatBlockProposition div#greatBlockProposition section.greatLeftBlockProp section.leftBlockProp{
    width: 330px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    margin-left: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
div#greatBlockProposition section.greatLeftBlockProp section.leftBlockProp div#leftBlockChildProp{
    overflow: hidden;
    width: 178px;
    height: 178px;
    border: solid 1px rgba(0,0,0,0.8);
    border-radius: 50%;
    background-size: contain;
}
.mainGreatBlockProposition{
    display: flex;
    flex-direction: column;
    height: 850px;
}
div#greatBlockProposition section.greatLeftBlockProp section.leftBlockProp div#leftBlockChildProp>img{
    width: 100%;
    height: 100%;
}
.greatRightBlockProp{
    width: 850px;
    height: 520px;
    display: flex;
    align-items: center;
}
.rightBlockProp{
    width: 800px;
    height: 450px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.priceProp1{
    border-radius: 3px;
    width: 100px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(9, 103, 34,0.65);
    margin-right: 30px;
    border: none;
}
.dateProp>article{
    margin-left: 30px;
}
.priceProp1>article{
    color: white;
}
#priceDateProp{
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mainTitleProp{
    width: 100%;
    height: 90px;
}
#mainTitleProp2{
    margin: 20px;
    width: 90%;
    height: 90%;
}
.titleDescrip{
    padding-bottom: 10px;
}
#mainTitleProp2>h2{
    text-align: center;
    font-weight: 700;
    color: rgba(0,0,0,0.8);
}
.cityMainProp{
    width: 680px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 30px;
    padding-top: 5px;
}
.titleCity90>article, .titleDescrip>article, #localisationProp>article{
    text-decoration: underline;
    font-weight: bold;
    color: rgba(0,0,0,0.8);
}
.CityUserProp>article{
    color: rgba(0,0,0,0.8);
}
.mainDescripProp{
    width: 680px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px
}
#propositionQuestionBtn>.btn-success{
    background-color: rgb(8, 176, 16);
    border-radius: 9px;
    color:white;
    width: 195px;
}
#propositionBtn2>.btn-success{
    background-color: rgb(204, 35, 160);
    border-radius: 9px;
    color:white;
    width: 195px;
}
#propositionBtn2>.btn-success:hover, #propositionQuestionBtn>.btn-success:hover{
    background-color:  #083815;
}
#propositionMap{
    display: flex;
    justify-content: center;
}
#propositionMap2>img{
    width: 100%;
    height:100%;
}
#propositionMap2{
    width: 95%;
    height: 260px;
    border-radius: 12px;
    background-size: cover;
    overflow: hidden;
    border: groove 0.5px green;
}
#propositionMap{
    display: flex;
    justify-content: center;
    margin-right: 40px;
}
#localisationProp{
    padding-top: 10px;
    margin-left: 30px;
}
div.mainGreatBlockProposition div#greatBlockProposition section.greatLeftBlockProp section.leftBlockProp div.star-rating-profile{
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
div.mainGreatBlockProposition div#greatBlockProposition section.greatLeftBlockProp section.leftBlockProp div#city-name-profile5, div.mainGreatBlockProposition div#greatBlockProposition section.greatLeftBlockProp section.leftBlockProp div#first-name-profile{
    height: 34px;
    width: 100%;
}
div.mainGreatBlockProposition div#greatBlockProposition section.greatLeftBlockProp section.leftBlockProp div#first-name-profile h4{
    padding-top: 8px;
}

/* CSS Proposition creation */

.mainBlockCreatProposition{
    display: flex;
    flex-direction: column;
}
.titlePropCreation{
    width: 100%;
    height: auto;
    margin-top: 32px;
}
.titlePropCreation>h4{
    color: rgba(0,0,0,0.8);
    font-weight: 700;
    margin-left: 100px;
    font-size: 34px;
}
.mainBlockPropCreat{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 900px;
}
.mainChildBlockPropCreat{
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 800px;
    background: linear-gradient(to right, #ffeeee, #ddefbb);
    margin-top: 30px;
    border-radius: 12px;
}
#titleChoicePropCreat>article{
    color: rgba(0,0,0,0.8);
    font-weight: bold;
}
#choicePropCreat{
    display: flex;
    flex-direction: column;
}
#titleChoicePropCreat{
    margin-left: 30px;
    padding-top: 20px;
    width: 100%;
    height: 50px;
}
#btnRadioChoicePropCreat{
    margin-left: 30px;
    padding-top: 10px;
}
#inlineLocation5{
    margin-left: 54px;
}
div.mainChildBlockPropCreat div#choicePropCreat div#btnRadioChoicePropCreat div.form-check.form-check-inline label.form-check-label{
    color: rgba(0,0,0,0.8);
    font-weight: 100;
}
#categoryPropCreat{
    margin-top: 10px;
}
#descripCreatProp76{
    width: 600px;
    margin-top: 10px;
}
.descripCreatProposition6{
    margin-left: 30px;
}
div#descripPropCreat div#photoPropCreat div.top-modify-photo div#childPhotoPropCreat{
    margin-top: 30px;
    margin-right: 30px;
}
#childConditionsPropCreat{
    display: flex;
    flex-direction: row;
}
.childConditionsPropCreat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 12px;
    margin-left: 30px;
}
#conditionsPropCreat{
    margin-top: 12px;
}
#choicePriceConditions{
    margin-right: 260px;
}
div#childConditionsPropCreat div.btn-group.btn-group-toggle .btn-secondary:hover{
    background-color:  rgba(204, 35, 160, 0.7);
}
div#childConditionsPropCreat div.btn-group.btn-group-toggle .btn-secondary.active{
    background-color: rgb(204, 35, 160);
}
div#childConditionsPropCreat div.btn-group.btn-group-toggle .btn-secondary{
    background-color: rgb(8, 176, 16);
    border:none;
}
.mainPostCreatProp{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
}
div.mainBlockCreatProposition section.mainBlockPropCreat div.mainChildBlockPropCreat div#descripPropCreat div#photoPropCreat section.mainPostCreatProp div#btnPostCreatProp button.btn.btn-primary{
    border-radius: 4px;
    width: 120px;
    margin-right: 30px;
    margin-top: 60px;
}
div.mainBlockCreatProposition section.mainBlockPropCreat div.mainChildBlockPropCreat div#descripPropCreat div#photoPropCreat section.mainPostCreatProp div#btnPostCreatProp button.btn.btn-primary:hover{
    opacity: 0.85;

}
section.mainPostCreatProp div#btnPostCreatProp input.btn.btn-need{
    background-color: rgb(204, 35, 160);
    color: white;
    width: 120px;
    margin-right: 30px;
    margin-top: 60px;
    border:none;
}
div#descripPropCreat div#photoPropCreat section.mainPostCreatProp div#btnPostCreatProp input.btn.btn-need:hover{
    background-color: rgba(204, 35, 160, 0.7);
}
section.mainPostCreatProp div#btnPostCreatProp input.btn.btn-bid{
    background-color: rgba(9, 204, 35, 160);
    color: white;
    width: 120px;
    margin-right: 30px;
    margin-top: 60px;
    border:none;
}
div#descripPropCreat div#photoPropCreat section.mainPostCreatProp div#btnPostCreatProp input.btn.btn-bid:hover{
    background-color: rgba(9, 204, 35, 0.7);
}

div.mainBlockCreatProposition section.mainBlockPropCreat div.mainChildBlockPropCreat div#descripPropCreat div#photoPropCreat label.drop_target{
    border: dashed 2px rgba(0,0,0,0.65);
    border-radius: 6px;
    width: 106px;
    height: 106px;
    margin-left: 30px;
    margin-top: 16px;
    position: relative;
    cursor: pointer;
    transition: all 0.2s;
    margin-bottom: 0 !important;
    overflow: hidden;
}
.top-modify-descrip{
    width: 100%;
    height: 120px;
}
div.mainBlockCreatProposition section.mainBlockPropCreat div.mainChildBlockPropCreat div#descripPropCreat div#photoPropCreat label.drop_target div.image_preview{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.mainBlockCreatProposition section.mainBlockPropCreat div.mainChildBlockPropCreat div#descripPropCreat div#photoPropCreat label.drop_target div.image_preview>div{
    width: auto;
    height: auto;
}
div.mainBlockCreatProposition section.mainBlockPropCreat div.mainChildBlockPropCreat div#categoryPropCreat div#ChoicePropCreatCateg form div.form-group input#exampleFormControlInput1.form-control{
    width: 200px;
    margin-left: 30px;
}
div.mainBlockCreatProposition section.mainBlockPropCreat div.mainChildBlockPropCreat div#categoryPropCreat div#ChoicePropCreatCateg form div.form-group{
    padding-top: 8px;
}


/* CSS Userspace */


.mainGreatUserspace{
    height: auto;
    display: flex;
    flex-direction: column;
}
.mainUserspaceTitle{
    width: 100%;
    height: 132px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
div#btnTopRightUserspace div.btn-group.btn-group-toggle .btn-secondary:hover{
    background-color: rgb(216, 200, 181);
}
div#btnTopRightUserspace div.btn-group.btn-group-toggle .btn-secondary.active{
    background-color: rgba(0,0,0,0.8);
    color: white;
}
div#btnTopRightUserspace div.btn-group.btn-group-toggle .btn-secondary{
    background-color: rgb(239, 231, 222);
    color: black;
}
#titleUserspace1>h4{
    color: rgba(0,0,0,0.8);
    font-weight: 700;
    margin-left: 30px;
    font-size: 34px;
}
.mainUserspace2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}
#userspaceCard{
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 350px;
    background-color: white;
    border-radius: 14px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    margin-top: 12px
}
.userspaceChildTopCard{
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
}
.userspaceChildTopCard .badge-success{
    width: 94px;
    height: 28px;
    background-color: rgb(8, 176, 16);
    padding-top: 8px;
}
.userspaceChildTopCard .badge-success-need{
    width: 94px;
    height: 28px;
    background-color: rgb(204, 35, 160);
    padding-top: 8px;
    color: white;
}
.userspaceChildTopCard .badge-success-bid{
    width: 94px;
    height: 28px;
    background-color: rgb(8, 176, 16);
    padding-top: 8px;
    color: white;
}
.opacity{
    opacity: 0.2;
}
.userspaceChildTopCard .badge-success-retired{
    width: 94px;
    height: 28px;
    background-color: rgb(153, 153, 153);
    padding-top: 8px;
    color: white;
}
.userspaceChildTopCard .badge-success-done{
    width: 94px;
    height: 28px;
    background-color: rgb(230, 138, 0);
    padding-top: 8px;
    color: white;
}
section#userspaceCard div.userspaceChildTopCard div h4{
    font-size: 18px;
    font-weight: bold;
}
.recapUserspace{
    display: flex;
    flex-wrap: wrap;
    padding-right: 16px;
    padding-left: 16px;
    margin-top: 25px;
    border-top: solid 0.5px rgba(198, 229, 123,0.35);
    padding-top: 16px;
}
.recapChildUserspace{
    width: 50%;
}
.recapAdRight{
    font-size: 16px;
    line-height: 44px;
    text-align: right;
}
.recapAdLeft{
    font-size: 16px;
    line-height: 44px;
    text-align: left;
}
#btnCardUserspace, #btnCardUserspaceMoment{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 94px;
    margin-top: 30px;
}
div#btnCardChildUserspace div#titleCardPublished article{
    font-size: 16px;
    font-weight:bold;
    color:  rgba(0,0,0,0.8);
}
#btnCardChildUserspace{
    width: 40%;
    height:100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
#btnCardUserspace div .btn-outline-danger, #btnCardUserspaceMoment div .btn-outline-danger{
    color: rgb(222, 56, 56);
    border-radius: 4px;
}
#btnCardUserspace div .btn-outline-danger:hover, #btnCardUserspaceMoment div .btn-outline-danger:hover{
    background-color: rgb(222, 56, 56);
    color:white;
}
.btnDropUser{
    width: 100%;
    height: auto;
    margin-right: 20px;
    margin-bottom: 20px;
}
.btnDropUser>div{
    display: flex;
    justify-content: flex-end;
}
section.mainGreatUserspace.container div.btnDropUser div button.btn.btn-outline-dark{
    border-radius: 8px;
}
section.mainGreatUserspace.container div.btnDropUser div button.btn.btn-outline-dark i.fas.fa-trash-alt{
    padding-left: 3px;
}
section#userspaceCard div#btnCardUserspace div button.btn.btn-outline-danger i.fas.fa-trash-alt{
    padding-right: 2px;
}
.userspaceChildTopCard li{
    list-style: none;
}
div.mainUserspace2 section#userspaceCard div.userspaceChildTopCard{
    height: 24px;
    padding-top: 30px;
    display: flex;
    align-items: center;
}
div.userspaceChildTopCard div li.nav-item.dropdown.show div.dropdown-menu.show a.dropdown-item strong{
    color: rgb(23, 101, 50);
}
div.userspaceChildTopCard div li.nav-item.dropdown.show div.dropdown-menu.show a.dropdown-item{
    color: rgba(0, 0, 0, 0.7);
}
div.userspaceChildTopCard div li.nav-item.dropdown a#menuMomentUser.nav-link.dropdown-toggle i.fas.fa-search-plus, a#menuMomentUser{
    color: rgba(23, 109, 53, 0.75);
}

/* Switch Toogle Userspace page*/


.material-switch > input[type="checkbox"] {
    display: none;
}
.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}
.material-switch > label::before {
    background: rgb(115, 115, 115);
    box-shadow: inset 0px 0px 10px rgba(115, 115, 115, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
    background-color: rgb(115, 115, 115);
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}
.recapChildUserspaceToogle{
    width: auto;
    height: auto;
    margin-left: 110px;
    margin-top: 12px;
}

/* CSS ChatBox */

.chat{
    margin-top: auto;
    margin-bottom: auto;
}
div.container-fluid.h-100 div#mainCardChatbox.row.h-100 div.col-md-8.col-xl-6.chat div.card, div.container-fluid.h-100 div#mainCardChatbox.row.h-100 div.col-md-4.col-xl-3.chat div.card.mb-sm-3.mb-md-0.contacts_card{
    width: 100%;
    height: 500px;
    border-radius: 15px !important;
    background-color: rgba( 53, 1, 129, 0.65) !important;
}
div.container-fluid.h-100 div#mainCardChatbox.row.h-100 div.card.mb-sm-3.mb-md-0.contacts_card{
    border-radius: 15px !important;
    background-color: rgba( 53, 1, 129, 0.65) !important;
    height: 500px;
}
.contacts_body{
    padding:  0.75rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
}
.msg_card_body{
    overflow-y: auto;
}
div.container-fluid.h-100 div#mainCardChatbox.row.h-100 div.col-md-8.col-xl-6.chat div.card div.card-header.msg_head{
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
}
div.container-fluid.h-100 div#mainCardChatbox.row.h-100 div.col-md-8.col-xl-6.chat div.card div.card-footer{
    border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
}
.container{
    align-content: center;
}
.search{
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color:white !important;
}
.search:focus{
    box-shadow:none !important;
    outline:0px !important;
}
.type_msg{
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color:white !important;
    height: 60px !important;
    overflow-y: auto;
}
.type_msg:focus{
    box-shadow:none !important;
    outline:0px !important;
}
.attach_btn{
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}
.send_btn{
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}
.search_btn{
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}
.contacts{
    list-style: none;
    padding: 0;
}
.contacts li{
    width: 100% !important;
    padding: 5px 10px;
    margin-bottom: 15px !important;
}

div.col-md-4.col-xl-3.chat div.card.mb-sm-3.mb-md-0.contacts_card div.card-body.contacts_body ui.contacts li.active{
    background-color: rgba(0,0,0,0.3);
}
.user_img{
    height: 70px;
    width: 70px;
    border:1.5px solid #f5f6fa;
}
.user_img_msg{
    height: 40px;
    width: 40px;
    border:1.5px solid #f5f6fa;
}
.img_cont{
    position: relative;
    height: 70px;
    width: 70px;
}
.img_cont_msg{
    height: 40px;
    width: 40px;
}
.online_icon{
    position: absolute;
    height: 15px;
    width:15px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 0.2em;
    right: 0.4em;
    border:1.5px solid white;
}
.offline{
    background-color: #c23616 !important;
}
.user_info{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}
.user_info span{
    font-size: 20px;
    color: white;
}
.user_info p{
    font-size: 10px;
    color: rgba(255,255,255,0.6);
}
.msg_cotainer{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #82ccdd;
    padding: 10px;
    position: relative;
}
.msg_cotainer_send{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #78e08f;
    padding: 10px;
    position: relative;
}
.msg_time{
    position: absolute;
    left: 0;
    bottom: -15px;
    color: rgba(255,255,255,0.5);
    font-size: 10px;
}
.msg_time_send{
    position: absolute;
    right:0;
    bottom: -15px;
    color: rgba(255,255,255,0.5);
    font-size: 10px;
}
.msg_head{
    position: relative;
}
#action_menu_btn{
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    cursor: pointer;
    font-size: 20px;
}
.action_menu{
    z-index: 1;
    position: absolute;
    padding: 15px 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border-radius: 15px;
    top: 30px;
    right: 15px;
    display: none;
}
.action_menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.action_menu ul li{
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 5px;
}
.action_menu ul li i{
    padding-right: 10px;
}
.action_menu ul li:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.2);
}
#chatRoomCenter{
    width: 530px;
}
div.row>div.card>div.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
div.row>div.card>div.card-body>#first-name-profile h4, div.row>div.card>div.card-body>#city-name-profile5 h4, div.card.mb-sm-3.mb-md-0.contacts_card div.card-body div.star-rating-profile div article{
    color:white;
}
#mainCardChatbox{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}
#propositionQuestionBtn>.btn-success{
    border: none;
    font-size: 15px;
    background: rgb(8, 176, 16);
}
#propositionBtn2>.btn-success{
    border: none;
    font-size: 15px;
    background: rgb(204, 35, 160);
}
#propositionQuestionBtn>.btn-success:hover{
    border: none;
    font-size: 15px;
    background: rgba(8, 176, 16,0.8);
}
#propositionBtn2>.btn-success:hover{
    border: none;
    font-size: 15px;
    background: rgba(204, 35, 160,0.8);
}
div#mainCardChatbox.row.h-100 div.card.mb-sm-3.mb-md-0.contacts_card div.card-body div#leftBlockChildProp{
    overflow: hidden;
    width: 178px;
    height: 178px;
    border-radius: 50%;
    background-size: contain;
}
div#mainCardChatbox.row.h-100 div.card.mb-sm-3.mb-md-0.contacts_card div.card-body div#leftBlockChildProp>img{
    width: 100%;
    height: 100%;
}
div#mainCardChatbox.row.h-100 div.card.mb-sm-3.mb-md-0.contacts_card div.card-body div.star-rating-profile{
    width: 100%;
    height: 38px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
div#mainCardChatbox.row.h-100 div.card.mb-sm-3.mb-md-0.contacts_card div.card-body div.star-rating-profile div article{
    padding: 5px;
}
/* CSS DEAL Formulation */

#photoDealProp{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}
#photoDealProp img{
    width: 100%;
    height: 100%;
}
#profilDealProp{
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
}
#conditionsPropDeal{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100px;
}
#titleChoicePropDeal2{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
#titleChoicePropDeal1{
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
#conditionsPropDeal article{
    text-align: center;
    color: rgba(0,0,0,0.8);
    font-weight: bold;
    margin-bottom: 14px;
}
div.mainChildBlockPropCreat div#descripPropCreat div#photoPropCreat section.mainPostCreatProp div#btnPostCreatProp a button.btn.btn-success{
    border: none;
    font-size: 15px;
    background: rgb(204, 35, 160);
    border-radius: 10px;
}
div.mainChildBlockPropCreat div#descripPropCreat div#photoPropCreat section.mainPostCreatProp div#btnPostCreatProp a button.btn.btn-success:hover{
    background: rgba(204, 35, 160,0.8);
}
div#profilDealProp div#infoProfilDealProp div.star-rating-profile{
    display: flex;
    flex-direction: row;
}
div#profilDealProp div#infoProfilDealProp div.star-rating-profile div article{
    padding: 5px;
}
div.mainBlockCreatProposition section.mainBlockPropCreat div.mainChildBlockPropCreat div#descripPropCreat div#photoPropCreat div#little-modify-photo div#little-modify-photo2{
    margin-left: 30px;
    margin-bottom: 12px;
}
div.mainBlockCreatProposition section.mainBlockPropCreat div.mainChildBlockPropCreat div#descripPropCreat div#photoPropCreat div#little-modify-photo{
    margin-top: 14px;
    display: flex;
    flex-direction: row;
}

/* CSS DEAL Recap */

.mainRecapDeal{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.titleRecapDeal{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
}
.titleRecapDeal>div>article{
    color: rgba(0,0,0,0.8);
    font-weight: 700;
    font-size: 34px;
    margin-left: 100px;
}
.mainBlockRecapDeal{
    width: 700px;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 14px;
    background: linear-gradient(to right, #ffeeee, #ddefbb);
}
#photoRecapDeal{
    width: 45%;
    height: 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#dealPhotos{
    width: 86.66px;
    height: 86.66px;
    border: solid 0.5px rgba(0,0,0,0.6);
    border-radius: 12px;
    overflow: hidden;
    margin: 15px;
}
.photosAndBubble{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 200px;
    margin-top: 34px;
}
.photosCentralBlock{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    height: 100%;
}
.titleCentralBlockDeal{
    width: 100%;
    height: auto;
}
.titleCentralBlockDeal>article{
    font-weight: bold;
    color: rgba(0,0,0,0.8);
    margin-left: 40px;
    text-decoration: underline;
}
.mainBubbleRecap{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.littleBlockDealPhotos{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.bubble{
    margin-top: 32px;
}
.bubble-text{
    background: rgb(8, 176, 16);
    color: white;
    padding: 7px 15px;
    border-radius: 32px;
    width: 330px;
    height: auto;
}
.bubble-text::after{
    content: "";
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid rgb(8, 176, 16);
    position: absolute;
}
.bubble-text>p{
    font-size: 15px;
}
.mainPrevisionDeal{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#previsionDeal{
    width: 90%;
    height: 86px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#previsionDealText{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    border-radius: 16px;
    background-color: rgb(204, 35, 160);
}
#previsionDealText>section>span{
    font-weight: 500;
    font-size: 16px;
    color:  #dae7d4 ;
}
#previsionDealText>section>strong{
    color: white;
    font-size: 17px;
}
#btnRecapDeal{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 120px;
}
#btnRecapDeal>section{
    display: flex;
    flex-direction: row;
    width: 100px;
    height: auto;
}
#btnRecapDeal>section>form>.btn-dark{
    background: #25630a;
    border:none;
    width: 88px;
}
#btnRecapDeal>section>form>.btn-dark:hover{
    opacity: 0.8;
}
#btnRecapDeal>section>form>.btn-white{
    background: white;
    border:none;
    width: 88px;
}
#btnRecapDeal>section>form>.btn-white:hover{
    opacity: 0.8;
}
#mainRecapDealChild{
    width: 100%;
    height: 880px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div#photoRecapDeal div#infoProfilDealProp div.star-rating-profile{
    display: flex;
    flex-direction: row;
}
div#photoRecapDeal div#infoProfilDealProp div.star-rating-profile div article{
    padding: 4px;
}

/* CSS My DEALS */

#titleMyDeal>div>article{
    font-weight: 700;
    font-size: 34px;
    color: rgba(0,0,0,0.8);
    margin-left: 100px;
}
#titleMyDeal{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}
.mainBlockMyDeal{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.MyDealMyDeal{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 1080px;
}
#thumbnailsMyDeal{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 300px;
    height: 400px;
    background-color: whitesmoke;
    border-radius: 14px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.infoContactDeal{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 35%;
}
#abstractInfoDeal{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}
#abstractInfoDeal>div>article{
    color: rgba(0,0,0,0.8);
    font-size: 14px;
    padding-left: 8px;
    padding-top: 12px;
}
#photoMyDeal{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding-top: 8px;
}
#photoMyDeal>#overflowDeal>img{
    width: 100%;
    height: 100%;
}
#overflowDeal{
    border-radius: 50%;
    width: 75%;
    overflow: hidden;
}
#cityMyDeal>div>article{
    padding-top: 10px;
}
#cityMyDeal>div>article>i{
    padding-right: 6px;
}
#cityMyDealChild{
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100%;
}
#cityMyDeal{
    width: 100%;
    display: flex;
    justify-content: center;
}
.btnMyDealView{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 44px;
    margin-top: 14px;
}
.btnContactMyDeal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 44px;
    margin-top: 14px;
    margin-bottom: 8px;
}
.btnMyDealView>div>.btn-danger{
    background: rgb(8, 176, 16);
    border: none;
    height: 34px;
    padding-bottom: 12px;
}
.btnMyDealView>div>.btn-danger:hover{
    background: rgba(8, 176, 16,0.8);
}
.btnContactMyDeal>div>.btn-danger{
    background: rgb(204, 35, 160);
    border: none;
    height: 34px;
    padding-bottom: 12px;
}
.btnContactMyDeal>div>.btn-danger:hover{
    background: rgba(204, 35, 160, 0.8);
}
.summuaryMyDeal{
    width: 100%;
    height: 144px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}
.summuaryMyDealChild{
    width: 96%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: transform 3s;
}
.summuaryMyDealChild>div{
    width: 100%;
    height: auto;
}
.summuaryMyDealChild>div>article{
    text-align: center;
    font-size: 14px;
    color: rgba(0,0,0,0.8);
}
div.infoContactDeal div#abstractInfoDeal div article#FirstNameMyDeal strong{
    font-size: 17px;
}
.summuaryMyDealChild:hover{
    background-color:rgba(145,100,0,0.2);
    transform: scale(1.2);
    border-radius: 12px;
}

/* CSS Payment Notice page */

.mainPaymentNotice{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#mainPaymentNoticeChild{
    width: 100%;
    height: 680px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titlePaymentNotice{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
}
.titlePaymentNotice>div>article{
    color: rgba(0,0,0,0.8);
    font-weight: 700;
    margin-left: 100px;
    font-size: 34px;
}
.mainBlockPayNot{
    width: 700px;
    height: 500px;
    background: linear-gradient(to right, #ffeeee, #ddefbb);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 22px;
}
.subTitlePayNot{
    width: 74%;
    height: 68px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div#mainPaymentNoticeChild div.mainBlockPayNot section.subTitlePayNot div img{
    width: 130px;
    margin-top: 4px;
}
.subTitlePayNot>div>article{
    color: rgba(0,0,0,0.8);
    font-weight: 700;
    font-size: 26px;
    margin-top: 8px;
}
#mainCentralPayNot{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 330px;
    margin-top: 10px;
}
#detailsPayNot{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 42%;
    height: 96%;
}
#detailsPayNotChild{
    width: 82%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
section#mainCentralPayNot div#detailsPayNot div#detailsPayNotChild div#infoComPayNot p{
    font-size: 12px;
}
div#detailsPayNotChild div#titleDetailsPayNot article strong{
    text-decoration: underline;
    font-size: 22px;
}
#titleDetailsPayNot, #pricePayNot, #infoComPayNot{
    width: 100%;
    height: auto;
}
div#detailsPayNot div#detailsPayNotChild div#pricePayNot article{
    font-size: 18px;
}
#titleDetailsPayNot>article{
    color: rgba(0,0,0,0.8);
    font-size: 20px;
    text-align: center;
}
#pricePayNot>article{
    color: rgba(0,0,0,0.8);
    font-size: 16px;
    text-align: center;
}
#infoComPayNot>article{
    color: rgba(0,0,0,0.55);
    font-size: 13px;
}
#thumbnailsPayNot{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    height: 100%;
    background-color: whitesmoke;
    border-radius: 16px;
}
.photoAndInfoPayNot{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 40%;
}
#photoAndCityPayNot{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 48%;
    height: 100%;
}
#photoPayNot{
    width: 70%;
    height: 70%;
    border-radius: 50%;
    overflow: hidden;
}
#photoPayNot>img{
    width: 100%;
    height: 100%;
}
#cityPayNot{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}
#cityPayNotChild{
    width: 50px;
    height: auto;
}
#cityPayNotChild>article{
    font-size: 16px;
    text-align: center;
}
#contactInfoPayNot{
    display: flex;
    flex-direction: column;
    width: 48%;
    height: 100%;
}
#contactInfoPayNot>div{
    margin-bottom: 7px;
}
#contactInfoPayNot>div:first-child article{
    font-size: 17px;
}
#contactInfoPayNot>div>article{
    font-size: 14px;
}
.summuaryPayNot{
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.summuaryPayNotChild{
    width: 97%;
    height: 92%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
div.photoAndInfoPayNot div#photoAndCityPayNot div#cityPayNot div#cityPayNotChild article i.fas.fa-map-marker-alt{
    padding-right: 5px;
}
section#mainCentralPayNot div#thumbnailsPayNot div.summuaryPayNot div.summuaryPayNotChild div article{
    font-size: 14px;
}
#greatBlockPayment{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.greatBlockPayChild1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    height: 90px;
}
#btnPayPayPal{
    height: 90px;
    width: auto;
    display: flex;
    align-items: center;
    margin-top: 20px;
}
#title1paymentNot{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}
#title1paymentNot>div>h5{
    color: rgba(0,0,0,0.75);
    text-align: left;
    padding-left: 4px;
    font-size: 26px;
    font-family: "Berlin Sans FB";
}
#logoPayPalNot{
    width: 150px;
    height: 38px;
    overflow: hidden;
    margin-top: 10px;
}
#logoPayPalNot>img{
    width: 100%;
    height: 100%;
}
#logo-payment-notice{
    width: 150px;
    height: 52px;
    overflow: hidden;
}
#logo-payment-notice>img{
    width: 100%;
    height: 100%;
}
/* CSS Administrator page */

.mainAdministratorChild{
    width: 900px;
    height: auto;
    display: flex;
    flex-direction: column;
}
.titleAdminPage{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titleAdminPage>div>article{
    color: white;
    font-size: 34px;
    font-weight: 700px;
    text-align: center;
    text-shadow: 1px 1px 2px grey;
}
#centralBlockAdmin{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
}
#chang_commands{
    height: auto;
    width: 74%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 120px;
    margin-top: 80px;
    justify-content: space-around;
}
#imgRocketAdmin{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#imgRocketAdminRocket{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 55%;
    height: 80%;
    overflow: hidden;
}
#imgRocketAdminRocket>div>img{
    width: 80%;
    height: 80%;
}
#star_admin{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
#imgRocketAdminStar{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}
section#centralBlockAdmin div#chang_commands div.chang_com div form div.form-group input#commission_changed.form-control, section#centralBlockAdmin div#chang_commands div#validity_ad form div.form-group input#period_validity_ad.form-control{
    width:100px;
}
#btn_admin_valid{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
div.mainAdministratorChild section#btn_admin_valid div button.btn.btn-light{
    background: rgb(8, 176, 16);
    color: white;
    border:none;
}
div.mainAdministratorChild section#btn_admin_valid div button.btn.btn-light:hover{
    background: rgba(8, 176, 16,0.8);
}
#validity_ad>form>.form-group>input::placeholder, .chang_com div form .form-group input#commission_changed.form-control::placeholder{
    color: rgba(0,0,0,0.15);
}

/* CSS footer */


.footer {
    text-rendering: optimizeLegibility;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0px;
    font-size: 17px;
    color: #6d767a;
    font-weight: 400;
    line-height: 34px;
}
.footer h1, .footer h2, .footer h3, .footer h4, .footer h5, .footer h6 {
    color: #161f23;
    margin: 0px 0px 15px 0px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}
.footer h1 {
    font-size: 42px;
}
.footer h2 {
    font-size: 32px;
}
.footer h3 {
    font-size: 24px;
}
.footer h4 {
    font-size: 20px;
}
.footer h5 { font-size: 14px;
}
.footer h6 {
    font-size: 12px;
}
.footer p {
    margin: 0 0 20px;
    line-height: 1.7;
}
.footer p:last-child {
    margin: 0px;
}
.footer ul, .footer ol {
}
.footer a {
    text-decoration: none;
    color: #6d767a;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.footer hr {
    border-top: 1px solid #e4e7e9;
    margin-bottom: 40px;
    margin-top: 20px;
}
.footer {
    background-color: #08202e;
    color: #636e74;
    font-weight: 400;
    font-size: 17px;
    padding-top: 30px;
}
.footer-line {
    border-color: #152e3d;
}
.footer-widget {
    padding-bottom: 50px;
}
.footer-title {
    height: 54px;
    margin-bottom: 26px;
}
.footer_title_border{
    height: 100%;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 26px;
    color: #fff;
    width: auto;
}
.footer-widget ul li a {
    font-size: 14px;
    color: #636e74;
    display: block;
    font-weight: 700;
}
.tiny-footer {
    font-size: 14px;
    padding: 14px 0px;
    font-weight: 600;
    background-color: transparent;
    border-top: 1px solid #152e3d;
    color: #888d90;
    line-height: 1;
}
.footer_child{
    display: flex;
    flex-direction: row;
    height: 50px;
}
.social_media_rejoin{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: auto;
}
.title-footer-social-link>div>article{
    color: white;
    font-weight: 600;
    font-size: 18px;
    padding-right: 26px;
}
.footer-social-link {
    padding-left: 26px;
    width: auto;
    height: auto;
}
#a_propos_footer{
    width: 280px;
    height: 100%;
}
#questions_footer{
    width: 280px;
    height: 100%;
}
#dev_footer{
    width: 280px;
    height: 100%;
}
#contact_footer{
    width: 150px;
    height: 100%;
}
#main_contain_footer{
    height: 282px;
    width: 1080px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
div.footer-widget div.footer-title>.footer_title_border:hover{
    color: rgb(8, 176, 16);
    border-bottom: solid 0.5px rgb(204, 35, 160);
}
div.footer-widget ul.list-unstyled li a:hover{
    color: rgb(204, 35, 160);
}
div.footer-widget ul.list-unstyled li a{
    text-align: start;
}
.ft-logo{
    width: 190px;
    height: 70px;
    overflow: hidden;
}
.ft-logo>img{
    width: 100%;
    height: 100%;
}


/* CSS Slider les dernières annonces */

.parent1 {
    height: auto;
    overflow: hidden;
    background-color: rgb( 229, 231, 233 );
}
.last-prop {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.items1 {
    width: 220px;
    height: 260px;
    border-radius: 6px;
    margin-top: 40px;
    margin-bottom: 10px;
    background-color: white;
}
.dateAndPrice_lastAd{
    width: 90%;
    height: 34px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 18px;
}
.date_lastAd{
    display: flex;
    justify-content: flex-start;
    width: 65%;
    height: 100%;
}
.price_lastAd>div>article{
    font-size: 11px;
    color: white;
}
.date_lastAd>div>article{
    font-size: 11px;
    color: rgba(0,0,0,0.9);
}
.price_lastAdNeed>div>article{
    font-size: 11px;
    color: white;
}
.date_lastAdNeed>div>article, .date_lastAdBid>div>article{
    font-size: 11px;
    color: rgba(0,0,0,0.9);
}
.price_lastAdBid>div>article{
    font-size: 11px;
    color: white;
    text-align: center;
}

.price_lastAdNeed{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    background-color:rgb(204, 35, 160);
    border-radius: 8px;
}
.price_lastAdBid{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
    background-color: rgb(8, 176, 16);
    border-radius: 8px;
}
.central_last_ad{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    height: 76px;
}
.photo_last_ad{
    overflow: hidden;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.photo_last_ad>img{
    width: 100%;
    height: 100%;
}
.star-rating-lastAd{
    width: 20px;
    height: 20px;
    overflow: hidden;
}
.last-prop-cental-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 100%;
}
.last_name_last{
    width: auto;
    height: auto;
    margin-bottom: 10px;
}
.last_name_last>article{
    color: rgba(0,0,0,0.9);
    text-align: center;
    font-size: 16px;
}
.note_lastAd>article{
    color: rgba(0,0,0,0.8);
    text-align: center;
    font-size: 13px;
    padding-left: 4px;
}
.star-rating-profile{
    width: 100%;
    height: 100%;
}
.main-star-rating-lastAd{
    display: flex;
    flex-direction: row;
}
.star-rating-profile>article{
    color: rgba(0,0,0,0.8);
}
.title_last_ad{
    width: 100%;
    height: 84px;
    border-bottom: solid 0.5px rgba(0,0,0,0.2);
}
.title_last_ad>article{
    color: rgba(0,0,0,0.9);
    text-align: center;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
}
div.parent1.container-fluid div.owl-carousel.owl-theme.owl-loaded.owl-drag div.owl-stage-outer div.owl-stage div.owl-item.active div.items1 a div.last-prop div.central_last_ad div.last-prop-cental-right div.last_name_last article:first-letter{
    text-transform: uppercase;
}
.city_last_ad{
    width: 90%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: rgba(9, 103, 34,0.65);
}
.city_last_ad>div>article{
    text-align: end;
    font-size: 13px;
    padding-left: 8px;
    font-weight: bold;
}
.title13{
    display: flex;
    justify-content: center;
    margin-top: 35px;
    font-size: 30px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
}

/* CSS Email payment confirmation */

.mainEmailPay{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 800px;
    width: 100%;
}
.logoTopEmailPay{
    width: 280px;
    height: 76px;
    overflow: hidden;
}
.logoTopEmailPay>img{
    width: 100%;
    height: 100%;
}
.firstNameEmailPay, .thank-dev{
    width: 80%;
    height: 44px;
}
.firstNameEmailPay>article{
    font-size: 26px;
    color: rgba(0,0,0,0.8);
    font-weight: 700;
    text-align: center;
}
.thank-dev>article{
    color: rgb(204, 35, 160);
    font-weight: 600;
    text-align: center;
    font-size: 26px;
}
#email_infos_deal{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: auto;
    height: 192px;
    border-radius: 12px;
    background-color: whitesmoke;
}
#subTitle_email_pay{
    width: 100%;
    height: 30px;
}
#subTitle_email_pay>article{
    font-weight: bolder;
    font-size: 18px;
    color: rgba(0,0,0,0.8);
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
}
.email_infos_deal_child{
    width: 100%;
    height: 26px;
}
.email_infos_deal_child>article{
    font-size: 16px;
    color: rgba(0,0,0,0.7);
    text-align: left;
    margin-left: 32px;
}
#btnCheckMyDeal{
    width: 52%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
}
.byeEmailPay{
    width: 40%;
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.byeEmailPay>div>article{
    font-weight: bolder;
    font-size: 16px;
    color: rgba(0,0,0,0.8);
    text-align: left;
}
.emailPayFooter{
    width: 52%;
    height:68px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.email_pay_socialMedia{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40%;
    height: 42px;
}
.email_pay_socialMedia>div{
    width: 42px;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}
.email_pay_socialMedia>div>img{
    width: 100%;
    height: 100%;
}
#logo_bottom_email_Pay{
    width:160px;
    height: 60px;
    overflow: hidden;
}
#logo_bottom_email_Pay>img{
    width: 100%;
    height: 100%;
}
div.mainEmailPay section#btnCheckMyDeal div a button.btn.btn-outline-dark{
    background-color:  rgb(8, 176, 16);
    border-radius: 8px;
    border: none;
    color: white;
}
div.mainEmailPay section#btnCheckMyDeal div a button.btn.btn-outline-dark:hover{
    background-color:  rgba(8, 176, 16, 0.85);
}

/* CSS Email forgotten password */

.mainEmailPassForg{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.firstNameEmailForgPass{
    width: 80%;
    height: 44px;
}
.firstNameEmailForgPass>article{
    font-size: 26px;
    color: rgba(0,0,0,0.8);
    font-weight: 700;
    text-align: center;
}
.blockCentralEmailForgPass{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    height: 150px;
}
.blockCentralEmailForgPass>div>article{
    font-size: 20px;
    color: rgba(0,0,0,0.8);
    font-weight: 600;
    text-align: center;
}
div.mainEmailPassForg section.blockCentralEmailForgPass div.alert.alert-success{
    width: 50%;
    text-align: center;
    border-radius: 6px;
}
div.mainEmailPassForg section.blockCentralEmailForgPass div.alert.alert-success>a{
    font-weight: normal;
}
div.mainEmailPassForg section.blockCentralEmailForgPass div.alert.alert-success{
    width: 320px;
}
div.mainEmailPassForg section.blockCentralEmailForgPass div article{
    color: rgba(0,0,0,0.65);
}

/* CSS Email confirm registration */

.mainEmailConfRegis{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.welcome_email{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.welcome_email>div:first-child article{
    font-size: 22px;
    color: rgba(0,0,0,0.6);
    font-weight: 700;
    text-align: center;
}
.welcome_email>div:last-child article{
    font-size: 24px;
    background: -webkit-linear-gradient( 180deg, rgb(8, 176, 16), rgb(204, 35, 160));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    text-align: center;
    font-family: "Californian FB", sans-serif;
    padding-top: 20px;
}
#email_infos_regis{
    width: auto;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#subTitle_email_Conf_Regis{
    width: 100%;
    height: 30px;
}
div.mainEmailConfRegis section#email_infos_regis div.alert.alert-success{
    margin-top: 30px;
    border-radius: 8px;
}
#email_infos_regis>div.subTitle_email_Conf_Regis:nth-child(2) article{
    font-size: 14px;
    padding-top: 13px;
}
div.mainEmailConfRegis section#email_infos_regis div.alert.alert-success a.alert-link{
    font-weight: lighter;
}

/* CSS Email close account */

.mainEmailCloseAccount{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.firstNameEmailCloseAcc{
    font-size: 26px;
    color: rgba(0,0,0,0.75);
    font-weight: 700;
    text-align: center;
}
.blockCentralEmailCloseAcc{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    height: 200px;
}
.blockCentralEmailCloseAcc>div{
    color: rgba(0,0,0,0.7);
    text-align: left;
}
